body{
    background-image: url(../img/pexels-photo-1435908.jpeg);
    background-size: cover;
    background-attachment: fixed;
}
h1,h4{
    text-align: center;
    font-family: 'Ropa Sans', sans-serif;
    font-family: 'Permanent Marker', cursive;
    color: blue;
}